doctype html
html
head
	title Request header parser
	link(href='../css/main.css', rel='stylesheet')
body
	.container
		h1.header Request Header Parser
		p 
			| Source code can be found in 
			a(href='https://github.com/longdoan711/RequestHeader-FreeCodeCamp', target='_blank') here
			| .
		p 
			| Your IP address is: 
			em #{ip}
		p 
			| Your language is: 
			em #{language}
		p 
			| Your operating system is: 
			em #{sys}